/* Project 1 Stylesheet: */
/* Styling the instructions on how to play the game */
#myCanvas
{
    display: block;
    margin: 0 auto;
}

/* Styling game window container: */
#gameContainer
{
    /* moving the game canvas edges away from the edges of the project div: */
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    padding-top: 1%;
}