/* Changing the webpage background colour and selecting a font family: */
body
{
    background-color: rgb(0, 20, 43);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

/* Styling the collective content on the page */
.contentBlock
{
    margin-left: 10%;
    margin-right: 10%;
    width: 70%;
}

/* WebPage Heading, changing its colour and alignment: */
h1
{
    top: 0px;
    color: white;
}

/* Webpage header section styling: */
#header
{
    text-align: center;
    background-color: rgb(0, 27, 58);
    padding-top: 10px;
    height: 130px;
}

/* Styling the menuTabs: */
.menuTab
{
    background-color: rgb(255, 255, 255);
    width: 125px;
    height: 3px;
    border-radius: 10px;

}

/* Styling the menuLabels */
.menuLabel
{
    color: rgb(255, 255, 255);
}

/* Styling the about section: (this is a <div>)*/
#about
{
    color: white;
    background-color: rgb(1, 15, 31) ;
    position: absolute;
    border-radius: 1rem;
    top: 155px;
    height: 30%;
}

/* Styling the about heading: 2*/
#aboutTitle
{
    position: absolute;
    left: 10%;
    text-decoration: underline;
}

#aboutText
{
    position: absolute;
    top: 35px;
    left: 10%;
}

/* Styling the project section: (this is a <div>)*/
#project
{
    text-align: center;
    color: white;
    background-color: rgb(1, 15, 31) ;
    position: absolute;
    border-radius: 1rem;
    top: 445px;
    height: 40%;
}

/* Styling the project heading: 2*/
#projectTitle
{
    text-align: center;
    text-decoration: underline;
}

#projectText
{
    position: absolute;
    top: 35px;
    left: 10%;
}

.project
{
    background-color: rgb(4, 51, 105);
    width: 350px;
    height: 200px;
    border-radius: 10px;
}

.projectName
{
    padding-left: 113px;
    padding-right: 113px;
    padding-bottom: 15px;
}