/* Changing the webpage background colour and selecting a font family*/
body
{
    background-color: rgb(0, 20, 43);
    font-family: Arial, Helvetica, sans-serif;
}

/* WebPage Heading, changing its colour and alignment*/
h1
{
    top: 0px;
    color: white;
}

/* webpage header */
#header
{
    text-align: center;
    align-items: center;
    background-color: rgb(0, 27, 58);
    padding-top: 10px;
    height: 130px;
}

/* MenuTab */
.menuTab
{
    background-color: rgb(255, 255, 255);
    width: 125px;
    height: 3px;
    margin: 0 auto;
    border-radius: 10px;

}

/* MenuLabel */
.menuLabel
{
    color: rgb(255, 255, 255);

}

/* hovering over elements in the menuLabel class */
.menuLabel:hover
{
    color: rgb(123, 224, 255);

}